@import "smart-grid"
@import "vars"
@import "default"

body
	min-width: 320px
	position: relative
	font-family: $default-font
	color: $colorbg4
	overflow-x: hidden
	padding: 0
	margin: 0
	font-weight: 300

*, *:focus
	outline: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto
.container
	+wrapper
	.row
		+row-flex()



@import 'media'
